*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --dark-default-color: #030304;
  --white-default-color: #ffffff;
  --accented-color: #3674b5;
  --hover-btn-color: #75ade8;
  --input-form-bg-color: #261d34;
  --input-text-color: #818181;
}
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  background-color: var(--dark-default-color);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.btn-primary {
  &:link,
  &:visited {
    display: inline-block;
    padding: 1.6rem 4rem;
    border-radius: 10rem;
    background-color: var(--accented-color);
    position: relative;
    transition: all 0.2s;
  }
  &:hover {
    background-color: var(--hover-btn-color);
    transition: all ease-in-out 0.3s;
  }
}
