.hero {
  background-image: url("/assets/anime-posters/bg-image.png");
  background-size: cover;
  background-position: top;
  padding-bottom: 14rem;

  .hero__carousel {
    max-width: 115rem;
    width: 100%;
    height: 50rem;
    overflow: hidden;
    margin: 9.6rem auto 0 auto;

    .hero__carousel-track {
      position: relative;
      height: 100%;

      display: flex;
      transition: transform 0.5s ease-in-out;

      .carousel__slide {
        width: 100%;
        flex-shrink: 0;
        border-radius: 3.2rem;

        .carousel__slide-img {
          border-radius: 3.2rem;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .dots {
      position: absolute;
      left: 50%;
      bottom: -100зч;
      transform: translate(-50%, 4rem);

      display: flex;
      gap: 2rem;
      .dot {
        height: 1.2rem;
        width: 1.2rem;
        background-color: var(--dark-default-color);
        border: 2px solid var(--accented-color);
        border-radius: 50%;
      }
      .active {
        background-color: var(--accented-color);
      }
    }
  }
}
