.manga-list {
  background-image: url("/assets/anime-posters/bg-image.png");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;

  .manga__search-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    margin-top: 12.4rem;
    .manga-search__container {
      display: block;
      width: 50%;
      position: relative;

      align-items: center;
      .manga-search-input {
        flex: 1;
        width: 100%;
        background-color: transparent;
        color: var(--white-default-color);
        padding: 1.6rem;
        padding-right: 4rem;
        border: var(--border-accented);
        border-radius: 3rem;
      }
      .manga-search__btn {
        background-color: transparent;
        border: none;
        color: var(--white-default-color);
        position: absolute;
        right: 0.4rem;
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
      }
    }
    .manga-filter__btn {
      background-color: transparent;
      border: none;
      color: var(--white-default-color);
      cursor: pointer;
    }
  }
  .manga-items__container {
    padding: 12rem 0 9.6rem 0;
    display: grid;
    row-gap: 8.6rem;
    column-gap: 6.4rem;
    grid-template-columns: repeat(4, minmax(23.2rem, 1fr));
    place-items: center start;
    align-items: start;

    .manga-item {
      width: 23.2rem;
      position: relative;

      .manga-img {
        display: block;
        width: 100%;
        height: 34.6rem;
        border: var(--border-accented);
        border-radius: 2rem;
        margin-bottom: 1.6rem;
      }
      .manga-content {
        .manga-title {
          font-size: 2.4rem;
          font-weight: 500;
        }
        .manga-author {
          font-size: 1.6rem;
          font-weight: 200;
        }
      }
      .manga-item__edit-button {
        padding: 1.2rem;
        position: absolute;
        top: 28rem;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        background-color: var(--accented-color);
        border: none;
        border-radius: 0.6rem;
        transition: all 0.2s;
        font-family: inherit;
        color: var(--white-default-color);
        font-size: 1.6rem;

        &:hover {
          background-color: var(--hover-btn-color);
          transition: all ease-in-out 0.3s;
        }
      }
    }
  }
}

.no-manga-message {
  font-size: 3.2rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
  width: 100%;
  grid-column: -1/1;
  place-self: center;
}

.manga-empty__container {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: -1/1;
  place-self: center;
  .manga-title__empty {
    font-size: 3.2rem;
    margin-bottom: 1.6rem;
  }
  .manga-subtitle__empty {
    font-size: 2.4rem;
  }
}

.manga__edit-container {
  width: 100rem;
  height: 190rem;
  background-color: var(--dark-default-color);
}
