<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyLibri</title>
    <link rel="icon" href="/assets/icons8-book-32.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./css/index.css" />
    <link rel="stylesheet" href="./css/my-library.css" />
  </head>
  <body>
    <header
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.header-nav.partial.html"
    ></header>

    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="my-library.section-main.partial.html"
    ></section>
    <footer
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.footer.partial.html"
    ></footer>
    <script type="module" src="/js/my-library.js"></script>
  </body>
</html>
